    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show" id="create_therapist" role="tabpanel" aria-labelledby="add_new_therapist">
              {% include 'core/therapist_form.html' %}
          </div>
        {% for item in object_list %}
          <div class="tab-pane fade show" id="therapist-{{item.id}}-detail" role="tabpanel" aria-labelledby="therapist-{{item.id}}">
              {{item.first_name}} {{item.last_name}}
          </div>
        {% endfor %}
    </div>