<div class="col-md-12">
    <div class="row">
        <div class="col-sm-4">
            <h3></h3>
            {% include 'core/search.html' %}
            <button type="button" class="btn btn-info" role="tablist">
                <a id="add_new_therapist" data-toggle="list" href="#create_therapist">Add New {{name}}</a>
            </button>
            {% include 'core/list_view.html' %}
            {% include 'core/pagination.html' %}
        </div>
        <div class="col-sm-8">
            {% include 'core/details.html' %}
        </div>
    </div>
</div>