<div class="list-group" id="list-tab" role="tablist">

    {% for item in object_list %}
    <a href="#therapist-{{item.id}}-detail" id="therapist-{{item.id}}" data-toggle="list" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{item.first_name}}</h5>
            <small>3 days ago</small>
        </div>
        <small>4 sessions in last 7 days</small>
    </a>
    {% endfor %}
</div>